{% extends "home.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container" >
  <img src="../static/we.jpg" class="img-fluid"> <br><br>
     Our team of talented balloon artists and decorators are passionate about their craft and are dedicated to creating mesmerizing balloon displays that leave a lasting impression. Whether it's an intimate birthday party, a grand wedding, a corporate event, or any special occasion, we pour our creativity and expertise into every project, tailoring it to your unique vision and theme.

      <h1>Why choose us?</h1>
      Because we go above and beyond to bring your dreams to life! With a keen eye for detail and an unparalleled commitment to customer satisfaction, we ensure that every event becomes an unforgettable celebration. <br>
      
      <p style="text-decoration: dashed;">What sets us apart is our wide range of balloon decorations, including elegant arches, whimsical centerpieces, eye-catching backdrops, and much more.</p>
      <marquee loop="-1" scrollamount="5" style="background-color: black; color: white;"> As a customer-centric company, we strive to provide a seamless and stress-free experience from the moment you contact us to the final setup of your event.</marquee>
</div>
{% endblock %}

