{% extends "home.html" %}


{% block title %}Baby Showers{% endblock %}

{% block content %}
<div style="margin-top: 120px;">
  <div style="display: flex; flex-wrap: wrap; justify-content: center;" class="container">
    <div class="card shadow-lg" style="width: 18rem; margin-right: 20px; margin-bottom: 20px; ">
      <img src="../static/babyshower (1).jpg" class="card-img-top" alt="">
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=+919368484824&text=I%20am%20interested%20in%20this%20design:%20Baby Showers (1)" target="_blank" class="btn btn-primary">Book Now</a>
      </div>
    </div>
    <div class="card shadow-lg" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
      <img src="../static/babyshower (2).jpg" class="card-img-top" alt="">
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=+919368484824&text=I%20am%20interested%20in%20this%20design:%20Baby Showers (2)" target="_blank" class="btn btn-primary">Book Now</a>
      </div>
    </div>
    <div class="card shadow-lg" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
      <img src="../static/babyshower (3).jpg" class="card-img-top" alt="">
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=+919368484824&text=I%20am%20interested%20in%20this%20design:%20Baby Showers (3)" target="_blank" class="btn btn-primary">Book Now</a>
      </div>
    </div>
    <div class="card shadow-lg" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
      <img src="../static/babyshower (4).jpg" class="card-img-top" alt="">
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=+919368484824&text=I%20am%20interested%20in%20this%20design:%20Baby Showers (4)" target="_blank" class="btn btn-primary">Book Now</a>
      </div>
    </div>
    <div class="card shadow-lg" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
      <img src="../static/babyshower (5).jpg" class="card-img-top" alt="">
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=+919368484824&text=I%20am%20interested%20in%20this%20design:%20Baby Showers (5)" target="_blank" class="btn btn-primary">Book Now</a>
      </div>
    </div>
    <div class="card shadow-lg" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
      <img src="../static/babyshower (6).jpg" class="card-img-top" alt="">
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=+919368484824&text=I%20am%20interested%20in%20this%20design:%20Baby Showers (6)" target="_blank" class="btn btn-primary">Book Now</a>
      </div>
    </div>
    <div class="card shadow-lg" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
      <img src="../static/babyshower (7).jpg" class="card-img-top" alt="">
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=+919368484824&text=I%20am%20interested%20in%20this%20design:%20Baby Showers (7)" target="_blank" class="btn btn-primary">Book Now</a>
      </div>
    </div>
    <div class="card shadow-lg" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
      <img src="../static/babyshower (8).jpg" class="card-img-top" alt="">
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=+919368484824&text=I%20am%20interested%20in%20this%20design:%20Baby Showers (8)" target="_blank" class="btn btn-primary">Book Now</a>
      </div>
    </div>
    <div class="card shadow-lg" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
      <img src="../static/babyshower (9).jpg" class="card-img-top" alt="">
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=+919368484824&text=I%20am%20interested%20in%20this%20design:%20Baby Showers (9)" target="_blank" class="btn btn-primary">Book Now</a>
      </div>
    </div>
    <div class="card shadow-lg" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
      <img src="../static/babyshower (10).jpg" class="card-img-top" alt="">
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=+919368484824&text=I%20am%20interested%20in%20this%20design:%20Baby Showers (10)" target="_blank" class="btn btn-primary">Book Now</a>
      </div>
    </div>
   </div>
</div>
{% endblock %}















